/* begger screen  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap");

* {
  font-family: "Roboto", sans-serif;
}
html {
    scroll-behavior: smooth;
}

@media screen and (min-width: 1024px) {
    body {
        margin: 0;
        padding: 0;
        font-family: "Roboto", sans-serif;
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }

    header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        top: 0%;
        left: 0%;
        height: 10%;
        padding: 0 100px;
        background: rgb(5, 5, 44);
        width: 100%;
        box-sizing: border-box;
    }

    header .logo {
        width: 30%;
        color: rgb(20, 8, 194);
        height: 50px;
        margin-top: 0.5%;
        line-height: 50px;
        font-size: 4vh;
        font-weight: bolder;
        float: left;
    }

    .spn {
        color: white
    }

    header nav {
        width: auto;
        /* background: blue; */
        margin-top: 1%;
        justify-self: center;
    }

    header nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
    }

    header nav ul li {
        list-style: none;
    }

    .darkmood {
        width: 99%;
        flex-wrap: wrap;
        height: auto;
        display: flex;
        align-items: end;
        justify-content: end;
        margin-top: 2%;
    }

    .fa-moon {
        color: rgb(3, 3, 15);
        margin-top: 0.3vh;
        margin-left: 2vh;
        font-size: 3vh;
    }

    .drkbutton {
        width: 15vh;
        display: flex;
        flex-wrap: wrap;
        border-style: none;
        border-radius: 20px;
        background-color: rgb(180, 178, 212);
        height: 4vh;
    }

    .modtxt {
        font-size: 2vh;
        margin-top: 0.6vh;
    }

    .wrapper {
        margin-top: 10%;
    }

    .txt1 {
        font-size: 8vh;
        letter-spacing: 1px;
        font-weight: bold;
        background-image: url(pic3.jpg);
        -webkit-background-clip: text;
        background-clip: text;
        text-align: center;
        -webkit-text-fill-color: transparent;
        animation: text 1s linear infinite;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }

    @keyframes text {
        from {
            background-position: 0% 50%;
        }

        to {
            background-position: 100% 100%;
        }
    }

    .cont {
        width: 70%;
        height: auto;
        margin-top: 5%;
        flex-direction: column;
        margin-left: 15%;
    }

    .cont {
        width: auto;
        height: auto; flex-wrap: wrap;
        margin-left: 7%;
    }
    
    .Whatsapp{
        color: white;
        font-size: 2vh;
        font-weight: bolder;
    }
    .btn1 {
        border-radius: 50px;
        height: auto;
        flex-wrap: wrap;
        background-color: rgb(47, 8, 190);
 }

    .a {
        font-size: 4vh;
        color: rgb(3, 3, 15);
        text-decoration: none;
        font-weight: bold;
    }

    .btn1:hover {
        background-color: rgb(12, 2, 31);
    }

    .a:hover {
        color: white;

    }

    .secc1 {
        width: 80%;
        height: auto;
        background: rgba(9, 2, 51, 0.63);
        margin-left: 0.5%;
        display: flex;
        margin-left: 10%;
        flex-wrap: wrap;
        margin-top: 10%;
        border-radius: 20px;
        flex-direction: row;
        justify-content: center;
    }

    .txt2 {
        font-size: 3.5vw;
        margin-top: 6%;
        font-weight: bold;
        text-align: center;
        color: rgb(46, 2, 170);
    }
    .service_headText {
        width: 100%;
        font-size: 4vw;
        margin-top: 3%;
        margin-bottom: 5%;
        font-weight: bold;
        text-align: center;
        color: rgb(46, 2, 170);
    }

    .spnn {
        color: #ffffff;
        font-size: 3vw;
    }

    .txt3 {
        width: 40%;
        background: #ffffff;
        border-radius: 20px;
        color: rgb(43, 30, 114);
        font-size: 2.5vw;
        width: 45%;
        text-align: center;
    }
    .txt33 {
        color: #ffffff;
        font-size: 2vw;
        text-align: center;
    }

    .abtmi {
        align-items: center;
        width: 85%;
        display: flex;
        /* flex-wrap: wrap; */
        flex-direction: row;
        justify-content: space-between;
        /* margin-left: 15%; */
    }

    .spN {
        color: rgb(46, 2, 170);
    }

    .skilss {
        width: 90%;
        height: auto;
        background: rgba(2, 0, 10, 0.25);
        margin-left: 5%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0%;
        border-radius: 20px;
        flex-direction: row;
        align-content: space-between;
        align-items: center;
        justify-content: center;
    }

    .html1 {
        width: 25vw;
        height: auto;
        /* background-color: rgb(42, 132, 148); */
        flex-direction: column;
        align-self: center;
        align-items: right;
        justify-content: center;
        border-radius: 20px;
        margin-top: 5%;
        margin-bottom: 5%;

    }

    .html {
        width: 50%;
        height: auto;
        background-color: rgb(70, 42, 148);
        align-items: center;
        display: flex;
        margin-left: 30%;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        margin-top: 5%;
    }

    .txt5 {
        color: #ffffff;
        font-size: 2vw;
        margin-top: 10%;
        text-align: center;
    }

    .fa-html5 {
        font-size: 7vw;
        margin-top: -10%;
    }

    .fa-js {
        font-size: 7vw;
        margin-top: -10%;
    }

    .fa-css3-alt {
        font-size: 7vw;
        margin-top: -10%;
    }

    .fa-java {
        font-size: 7vw;
        margin-top: -10%;
    }

    .fa-python {
        font-size: 7vw;
        margin-top: -10%;
    }

    .about {
        width: 90%;
        height: auto;
        margin-left: 5%;
        background: rgba(9, 2, 51, 0.3);
        display: flex;
        flex-wrap: wrap;
        border-radius: 50px;
        justify-content: space-between;
        flex-direction: row;
    }

    .bx1 {
        width: 40%;
        height: auto;
        margin-top: 5%;
        margin-left: 5%;
        margin-right: 5%;
        margin-bottom: 7%;
    }

    .sec2 {
        width: 99%;
        height: auto;
        margin-left: 0.5%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 10%;
        border-radius: 20px;
        flex-direction: column;
        justify-content: center;
    }

    .pic {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }

    .footerr {
        width: 100%;
        height: auto;
        background-color: rgb(5, 5, 44);
        display: flex;
        margin-top: 7%;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .foter {
        width: 90%;
        margin-left: 10%;
        margin-top: 0%;
    }

    .foterr {
        width: 100%;
        margin-left: 0%;
        margin-top: 3%;
        background: rgb(5, 8, 180);
    }

    .active {
        color: rgb(255, 255, 255);
        padding: 3%;
        font-size: 2vw;
        margin-left: 2%;
    }

    .txt7 {
        font-size: 4vh;
        font-weight: 400;
        text-align: center;
        color: #ffffff;
    }

    .active:hover {
        color: rgb(5, 8, 180);
    }

    .txt6 {
        color: #ffffff;
        font-size: 4vh;
        margin-top: 3%;
        text-decoration: none;
    }

    .fa-location-dot {
        font-size: 5vh;
        color: rgb(211, 211, 226);
    }

    .fa-envelope {
        font-size: 5vh;
        color: rgb(211, 211, 226);
    }

    .fa-whatsapp-square {
        font-size: 5vh;
        color: rgb(211, 211, 226);
    }

    .sevic {
        width: 90%;
        height: auto;
        margin-left: 5%;
        background: rgba(9, 2, 51, 0.43);
        display: flex;
        border-radius: 20px;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }

    .sM {
        color: rgb(43, 30, 114);
        margin-left: 7%;
    }

    .sev {
        width: 40%;
        background: #ffffff;
        justify-items: center;
        margin-left: 5%;
        border-radius: 10px;
        box-shadow: .5px .5px 1px 2px rgba(9, 2, 51, 0.43);
        text-align: center;
        margin-bottom: 3%;

    }

    .boxserv {
        width: 90%;
        margin-left: 5%;
    }

    .pin-message {
        position: fixed;
        bottom: 10%;
        right: 2%;
        width: 8.5vh;
        z-index: 1;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background: rgb(184, 181, 196);
    }

    .fa-whatsapp {
        font-size: 8vh;
        color: rgb(5, 8, 180);
        justify-content: center;
    }


    /* Style the progress circle  html */
    .progress-circle-html {
        height: 15vh;
        width: 15vh;
        background-color: rgb(70, 42, 148);
        border-radius: 50%;
        position: relative;
        margin: 20px auto;
    }

    /* Style the progress circle  html */
    .progress-circle-html {
        background-color: rgb(70, 42, 148);
        position: relative;
        margin: 20px auto;
        width: 115px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 500px;
    }

    /* Style the progress percentage text java*/
    .progress-text-html {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vh;
        color: white;
        font-weight: bold;
    }

    /* Style the progress circle  css */
    .progress-circle-css {
        background-color: rgb(70, 42, 148);
        position: relative;
        margin: 20px auto;
        width: 115px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 500px;
    }

    /* Style the progress percentage text java*/
    .progress-text-css {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vh;
        color: white;
        font-weight: bold;
    }


    /* Style the progress circle  javascript */
    .progress-circle-javascript {
        background-color: rgb(70, 42, 148);
        position: relative;
        margin: 20px auto;
        width: 115px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 500px;
    }

    /* Style the progress percentage text java*/
    .progress-text-javascript {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vh;
        color: white;
        font-weight: bold;
    }

    /* Style the progress circle  python */
    .progress-circle-python {
        background-color: rgb(70, 42, 148);
        position: relative;
        margin: 20px auto;
        width: 115px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 500px;
    }

    /* Style the progress percentage text python*/
    .progress-text-python {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vh;
        color: white;
        font-weight: bold;
    }

    /* Style the progress circle  java */
    .progress-circle-java {
        background-color: rgb(70, 42, 148);
        position: relative;
        margin: 20px auto;
        width: 115px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 500px;
    }

    /* Style the progress percentage text java*/
    .progress-text-java {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vh;
        color: white;
        font-weight: bold;
    }

}



/* for tablet */
@media screen and (min-width: 767px) and (max-width: 1023px) {
    body {
        margin: 0;
        padding: 0;
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }

    header {
     display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        top: 0%;
        left: 0%;
        height: 10%;
        padding: 0 100px;
        background: rgb(5, 5, 44);
        width: 100%;
        box-sizing: border-box;
    }

    header .logo {
        width: 70%;
        color: rgb(20, 8, 194);
        height: 50px;
        margin-top: 0.5%;
        line-height: 50px;
        font-size: 3vh;
        font-weight: bolder;
        float: left;
    }

    .spn {
        color: white
    }

    header nav {
        width: auto;
        margin-top: 1%;
        justify-self: center;
    }

    header nav ul {
        margin: 0;
        padding: 0;
        display: flex;
        justify-content: flex-end;
    }

    .darkmood {
        width: 99%;
        flex-wrap: wrap;
        height: auto;
        display: flex;
        align-items: end;
        justify-content: end;
        margin-top: 2%;
    }

    .fa-moon {
        color: rgb(3, 3, 15);
        margin-top: 0.3vh;
        margin-left: 2vh;
        font-size: 3vh;
    }

    .drkbutton {
        width: 15vh;
        display: flex;
        flex-wrap: wrap;
        border-style: none;
        border-radius: 20px;
        background-color: rgb(180, 178, 212);
        height: 4vh;
    }

    .modtxt {
        font-size: 2vh;
        margin-top: 0.6vh;
    }

    .darkmode {
        --primary-color: rgb(3, 3, 15);
        --secondary-color: white;
    }

    :root {
        --primary-color: white;
        --secondary-color: rgb(3, 3, 15);
    }

    .menu-toggle {
        color: yellow;
        float: right;
        line-height: 50px;
        font-size: 24px;
        cursor: pointer;
        display: none;
    }

    .txt1 {
        font-size: 7vh;
        letter-spacing: 1px;
        font-weight: bold;
        background-image: url(pic3.jpg);
        -webkit-background-clip: text;
        background-clip: text;
        text-align: center;
        -webkit-text-fill-color: transparent;
        animation: text 1s linear infinite;
    }

    @keyframes text {
        from {
            background-position: 0% 50%;
        }

        to {
            background-position: 100% 100%;
        }
    }

    .cont {
        width: 70%;
        height: auto;
        flex-direction: column;
        margin-left: 15%;
    }
    .cont {
        width: auto;
        height: auto; flex-wrap: wrap;
        margin-left: 7%;
    }
    
    .Whatsapp{
        color: white;
        font-size: 2vh;
        font-weight: bolder;
    }
    .btn1 {
        border-radius: 50px;
        height: auto;
        flex-wrap: wrap;
        background-color: rgb(47, 8, 190);
 }

    .sec2 {
        width: 99%;
        height: auto;
        margin-left: 0.5%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 10%;
        border-radius: 20px;
        flex-direction: column;
        justify-content: center;
    }

    .a {
        font-size: 4vh;
        color: rgb(3, 3, 15);
        text-decoration: none;
        font-weight: bold;
    }

    .btn1:hover {
        background-color: rgb(12, 2, 31);
    }

    .a:hover {
        color: white;
    }

    .secc1 {
        width: 99%;
        height: auto;
        background: rgba(9, 2, 51, 0.63);
        margin-left: 0.5%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 10%;
        border-radius: 20px;
        flex-direction: column;
        justify-content: center;
    }

    .txt2 {
        font-size: 3.7vh;
        font-weight: bold;
        margin-top: 5%;
        flex-wrap: wrap;
        text-align: center;
        color: rgb(46, 2, 170);
    }

    .spnn {
        font-size: 6vw;
        color: #ffffff;
    }
   
    .txt3 {
        color: #ffffff;
        font-size: 4vw;
        font-weight: 400;
        text-align: center;
    }
   
    .abtmi {
        align-items: center;
        width: 70%;
        margin-left: 15%;
    }

    .spN {
        color: rgb(46, 2, 170);
    }

    .skilss {
        width: 90%;
        height: auto;
        background: rgba(2, 0, 10, 0.25);
        margin-left: 5%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0%;
        border-radius: 20px;
        flex-direction: row;
        align-content: space-between;
        align-items: center;
        justify-content: center;
    }

    .html1 {
        width: 40%;
        height: auto;
        flex-direction: column;
        align-self: center;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        margin-top: 5%;
        margin-bottom: 5%;

    }

    .html {
        width: 85%;
        height: auto;
        background-color: rgb(70, 42, 148);
        align-items: center;
        display: flex;
        margin-left: 10%;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        margin-top: 5%;
    }

    .txt5 {
        color: #ffffff;
        font-size: 3vw;
        margin-top: 10%;
        text-align: center;
    }

    .fa-html5 {
        font-size: 10vw;
        margin-top: -10%;
    }

    .fa-js {
        font-size: 10vw;
        margin-top: -10%;
    }

    .fa-css3-alt {
        font-size: 10vw;
        margin-top: -10%;
    }

    .fa-java {
        font-size: 10vw;
        margin-top: -10%;
    }

    .fa-python {
        font-size: 10vw;
        margin-top: -10%;
    }

    .about {
        width: 90%;
        height: auto;
        margin-left: 5%;
        background: rgba(9, 2, 51, 0.23);
        display: flex;
        flex-wrap: wrap;
        border-radius: 30px;
        justify-content: space-between;
        flex-direction: row;
    }

    .bx1 {
        width: 40%;
        height: auto;
        margin-top: 5%;
        margin-right: 5%;
        margin-left: 5%;
        margin-bottom: 7%;
    }

    .pic {
        width: 100%;
        height: auto;
        border-radius: 20px;
    }

    .footerr {
        width: 100%;
        height: auto;
        background-color: rgb(5, 5, 44);
        display: flex;
        margin-top: 15%;
        z-index: 1;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .foter {
        width: 90%;
        margin-left: 5%;
        font-size: 4vw;
        margin-top: 3%;
    }

    .foterr {
        width: 100%;
        margin-left: 0%;
        margin-top: 5%;
        background: rgb(5, 8, 180);
    }

    .active {
        color: rgb(255, 255, 255);
        padding: 3%;
        margin-left: 3%;
    }

    .txt7 {
        font-size: 3vh;
        font-weight: 400;
        text-align: center;
        color: #ffffff;
    }

    .active:hover {
        color: rgb(5, 8, 180);
    }

    .txt6 {
        color: #ffffff;
        font-size: 3vh;
        font-weight: 400;
        margin-top: 5%;
        text-decoration: none;
    }

    .fa-location-dot {
        font-size: 5.3vw;
        color: rgb(211, 211, 226);
    }

    .fa-envelope {
        font-size: 5.3vw;
        color: rgb(211, 211, 226);
    }

    .fa-whatsapp-square {
        font-size: 5.3vw;
        color: rgb(211, 211, 226);
    }

    .sevic {
        width: 90%;
        height: auto;
        margin-left: 5%;
        background: rgba(9, 2, 51, 0.43);
        display: flex;
        border-radius: 20px;
        flex-wrap: wrap;
        justify-content: center;
        flex-direction: row;
    }
    .service_headText {
        width: 100%;
        font-size: 6vw;
        margin-top: 3%;
        margin-bottom: 5%;
        font-weight: bold;
        text-align: center;
        color: rgb(46, 2, 170);
    }
    .sM {
        color: rgb(43, 30, 114);
    }

    .sev {
        width: 40%;
        background: #ffffff;
        justify-items: center;
        margin-left: 5%;
        border-radius: 10px;
        box-shadow: .5px .5px 1px 2px rgba(9, 2, 51, 0.43);
        text-align: center;
        margin-bottom: 4%;

    }

    .boxserv {
        width: 90%;
        margin-left: 5%;
    }

    .pin-message {
        position: fixed;
        bottom: 10%;
        right: 2%;
        width: 7.5vh;
        height: auto;
        display: flex;
        z-index: 1;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        background: rgb(216, 212, 226);
    }

    .fa-whatsapp {
        font-size: 7vh;
        color: rgb(5, 8, 180);
        justify-content: center;
    }


    /* Style the progress circle  html */
    .progress-circle-html {
        height: 15vh;
        width: 15vh;
        background-color: rgb(70, 42, 148);
        border-radius: 50%;
        position: relative;
        margin: 20px auto;
    }

    /* Style the progress circle  html */
    .progress-circle-html {
        background-color: rgb(70, 42, 148);
        position: relative;
        margin: 20px auto;
        width: 115px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 500px;
    }

    /* Style the progress percentage text java*/
    .progress-text-html {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vh;
        color: white;
        font-weight: bold;
    }

    /* Style the progress circle  css */
    .progress-circle-css {
        background-color: rgb(70, 42, 148);
        position: relative;
        margin: 20px auto;
        width: 115px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 500px;
    }

    /* Style the progress percentage text java*/
    .progress-text-css {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vh;
        color: white;
        font-weight: bold;
    }


    /* Style the progress circle  javascript */
    .progress-circle-javascript {
        background-color: rgb(70, 42, 148);
        position: relative;
        margin: 20px auto;
        width: 115px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 500px;
    }

    /* Style the progress percentage text java*/
    .progress-text-javascript {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vh;
        color: white;
        font-weight: bold;
    }

    /* Style the progress circle  python */
    .progress-circle-python {
        background-color: rgb(70, 42, 148);
        position: relative;
        margin: 20px auto;
        width: 115px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 500px;
    }

    /* Style the progress percentage text python*/
    .progress-text-python {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vh;
        color: white;
        font-weight: bold;
    }

    /* Style the progress circle  java */
    .progress-circle-java {
        background-color: rgb(70, 42, 148);
        position: relative;
        margin: 20px auto;
        width: 115px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 500px;
    }

    /* Style the progress percentage text java*/
    .progress-text-java {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vh;
        color: white;
        font-weight: bold;
    }
}




/* smaler screen */
@media screen and (max-width: 767px) {
    body {
        margin: 0;
        padding: 0;
        background-color: var(--primary-color);
        color: var(--secondary-color);
    }

    header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        top: 0%;
        left: 0%;
        height: 10%;
        padding: 0 20px;
        background: rgb(5, 5, 44);
        width: 100%;
        box-sizing: border-box;
    }

    header .logo {
        width: 100%;
        color: rgb(20, 8, 194);
        height: 50px;
        margin-top: 0.5%;
        line-height: 50px;
        font-size: 4vh;
        text-align: left;
        font-weight: bolder;
        float: left;
    }

    .spn {
        color: white
    }

    .menu-toggle {
        display: none;
    }

    header nav.activee {
        left: 0;
    }

    header nav {
        position: absolute;
        width: 50%;
        height: 90%;
        background: rgb(5, 5, 15);
        margin-top: 19%;
        right: 100%;
        transition: 0.7s;
    }

    header nav ul {
        text-align: center;
        padding: 0%;
    }

    header nav ul li a {
        border-bottom: 1px solid rgb(0, 0, 0);
        text-decoration: none;
        /* color: red; */
    }

    .darkmood {
        width: 99%;
        flex-wrap: wrap;
        height: auto;
        display: flex;
        align-items: end;
        justify-content: end;
        margin-top: 2%;
    }

    .fa-moon {
        color: rgb(3, 3, 15);
        margin-top: 0.3vh;
        margin-left: 2vh;
        font-size: 3vh;
    }

    .drkbutton {
        width: 15vh;
        display: flex;
        flex-wrap: wrap;
        border-style: none;
        border-radius: 20px;
        background-color: rgb(180, 178, 212);
        height: 4vh;
    }

    .modtxt {
        font-size: 2vh;
        margin-top: 0.6vh;
    }

    .darkmode {
        --primary-color: rgb(3, 3, 15);
        --secondary-color: white;
    }

    :root {
        --primary-color: white;
        --secondary-color: rgb(3, 3, 15);
    }

    .txt1 {
        font-size: 5vh;
        letter-spacing: 1px;
        font-weight: bold;
        background-image: url(pic3.jpg);
        -webkit-background-clip: text;
        background-clip: text;
        text-align: center;
        -webkit-text-fill-color: transparent;
        animation: text 1s linear infinite;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    }

    @keyframes text {
        from {
            background-position: 0% 50%;
        }

        to {
            background-position: 100% 100%;
        }
    }

    
    .Whatsapp{
        color: white;
        font-size: 2vh;
        font-weight: bolder;
    }
    .btn1 {
        border-radius: 50px;
        height: auto;
        flex-wrap: wrap;
        margin-left: 5vw;
        background-color: rgb(47, 8, 190);
 }

    .a {
        font-size: 3vh;
        color: rgb(3, 3, 15);
        text-decoration: none;
        font-weight: bold;
    }

    .btn1:hover {
        background-color: rgb(12, 2, 31);
    }

    .a:hover {
        color: white;

    }

    .secc1 {
        width: 99%;
        height: auto;
        background: rgba(63, 44, 168, 0.43);
        margin-left: 0.5%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 10%;
        border-radius: 20px;
        flex-direction: column;
        justify-content: center;
    }

    .txt2 {
        font-size: 7vw;
        font-weight: bold;
        margin-top: 3%;
        text-align: center;
        color: rgb(6, 0, 26);
    }

    .spnn {
        color: #ffffff;
        font-size: 6vw;
    }
    .txt33 {
        color: #ffffff;
        font-size: 5vw;
        font-weight: 400;
        text-align: center;
    }
    .txt3 {
        color: #ffffff;
        font-size: 6vw;
        font-weight: 400;
        text-align: center;
    }

    .abtmi {
        align-items: center;
        width: 70%;
        margin-left: 15%;
    }

    .spN {
        color: rgb(6, 0, 26);
        word-spacing: -0.5vw;
    }

    .sec2 {
        width: 99%;
        height: auto;
        margin-left: 0.5%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 10%;
        border-radius: 20px;
        flex-direction: column;
        justify-content: center;
    }

    .skilss {
        width: 95%;
        height: auto;
        background: rgba(2, 0, 10, 0.25);
        margin-left: 2.5%;
        display: flex;
        flex-wrap: wrap;
        margin-top: 0%;
        border-radius: 20px;
        flex-direction: row;
        align-content: space-between;
        align-items: center;
        justify-content: center;
    }

    .html1 {
        width: 45%;
        height: auto;
        flex-direction: column;
        align-self: center;
        align-items: center;
        justify-content: center;
        border-radius: 20px;
        margin-top: 5%;
        margin-bottom: 5%;
    }

    .html {
        width: 85%;
        height: auto;
        background-color: rgb(70, 42, 148);
        align-items: center;
        display: flex;
        margin-left: 10%;
        flex-direction: column;
        justify-content: center;
        border-radius: 20px;
        margin-top: 5%;
    }

    .txt5 {
        color: #ffffff;
        font-size: 3.5vw;
        margin-top: 10%;
        text-align: center;
    }

    .txt6 {
        color: #ffffff;
        font-size: 5.5vw;
        margin-top: 10%;
        font-weight: 400;
        text-decoration: none;
    }

    .fa-html5 {
        color: #ffffff;
        font-size: 15vw;
        margin-top: -10%;
    }

    .fa-js {
        color: #ffffff;
        font-size: 15vw;
        margin-top: -10%;
    }

    .fa-location-dot {
        font-size: 7vw;
        color: rgb(211, 211, 226);
    }

    .fa-envelope {
        font-size: 7vw;
        color: rgb(211, 211, 226);
    }

    .fa-whatsapp-square {
        font-size: 7vw;
        color: rgb(211, 211, 226);
    }

    .fa-css3-alt {
        color: #ffffff;
        font-size: 15vw;
        margin-top: -10%;
    }

    .fa-java {
        color: #ffffff;
        font-size: 15vw;
        margin-top: -10%;
    }

    .fa-python {
        color: #ffffff;
        font-size: 15vw;
        margin-top: -10%;
    }

    .sM {
        color: rgb(43, 30, 114);
        margin-left: 7%;
    }

    .about {
        width: 90%;
        height: auto;
        margin-left: 5%;
        background: rgba(9, 2, 51, 0.43);
        display: flex;
        border-radius: 20px;
        flex-wrap: wrap;
        flex-direction: row;
    }

    .bx1 {
        width: 45%;
        height: auto;
        margin-top: 5%;
        margin-left: 3%;
        margin-bottom: 5%;
    }
    .pic {
        width: 100%;
        height: auto;
        border-radius: 10px;
    }
    .service_headText {
        width: 100%;
        font-size: 3;
        margin-top: 3%;
        margin-bottom: 5%;
        font-weight: bold;
        text-align: center;
        color: rgb(46, 2, 170);
    }
    .sevic {
        width: 90%;
        height: auto;
        margin-left: 5%;
        background: rgba(63, 44, 168, 0.43);
        display: flex;
        border-radius: 20px;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .sev {
        width: 90%;
        background: #ffffff;
        justify-items: center;
        margin-left: 5%;
        flex-wrap: wrap;
        margin-bottom: 5%;
        border-radius: 10px;
        box-shadow: .3px 2.9px 3px 3px rgba(9, 2, 51, 0.43);
        text-align: center;

    }

    .boxserv {
        width: 90%;
        margin-left: 5%;
    }

    .footerr {
        width: 100%;
        height: auto;
        background-color: rgb(0, 0, 61);
        display: flex;
        margin-top: 20%;
        z-index: 1;
        flex-wrap: wrap;
        flex-direction: column;
    }

    .foter {
        width: 90%;
        margin-left: 5%;
        margin-top: 8vw;
    }

    .foterr {
        width: 100%;
        margin-left: 0%;
        margin-top: 10%;
        background: rgb(5, 8, 180);
    }

    .active {
        color: rgb(255, 255, 255);
        padding: 0.5%;
        margin-left: 2%;
        text-decoration: none;
    }

    .txt7 {
        font-size: 3vh;
        font-weight: 400;
        text-align: center;
        color: #ffffff;
    }

    .active:hover {
        color: rgb(5, 8, 180);
    }

    .pin-message {
        position: fixed;
        bottom: 10%;
        right: 2%;
        width: 9.5vh;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 1;
        border-radius: 100%;
        background: rgb(216, 212, 226);
    }

    .fa-whatsapp {
        font-size: 9vh;
        color: rgb(5, 8, 180);
        justify-content: center;
    }

    /* Style the progress circle  html */
    .progress-circle-html {
        background-color: rgb(70, 42, 148);
        position: relative;
        margin: 20px auto;
        width: 115px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 500px;
    }

    /* Style the progress percentage text java*/
    .progress-text-html {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vh;
        color: white;
        font-weight: bold;
    }

    /* Style the progress circle  css */
    .progress-circle-css {
        background-color: rgb(70, 42, 148);
        position: relative;
        margin: 20px auto;
        width: 115px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 500px;
    }

    /* Style the progress percentage text java*/
    .progress-text-css {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vh;
        color: white;
        font-weight: bold;
    }


    /* Style the progress circle  javascript */
    .progress-circle-javascript {
        background-color: rgb(70, 42, 148);
        position: relative;
        margin: 20px auto;
        width: 115px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 500px;
    }

    /* Style the progress percentage text java*/
    .progress-text-javascript {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vh;
        color: white;
        font-weight: bold;
    }

    /* Style the progress circle  python */
    .progress-circle-python {
        background-color: rgb(70, 42, 148);
        position: relative;
        margin: 20px auto;
        width: 115px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 500px;
    }

    /* Style the progress percentage text python*/
    .progress-text-python {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vh;
        color: white;
        font-weight: bold;
    }

    /* Style the progress circle  java */
    .progress-circle-java {
        background-color: rgb(70, 42, 148);
        position: relative;
        margin: 20px auto;
        width: 115px;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 500px;
    }

    /* Style the progress percentage text java*/
    .progress-text-java {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 3vh;
        color: white;
        font-weight: bold;
    }

}
